body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: blue;
    grid-area: 1 / 1 / 2 / 3;
}

.header {
    background-color: red;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.main-content {
    background-color: green;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}