html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    background-color: #FFD4D4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 0.75fr 2fr 1fr 2fr;
    padding-left: 16px;
    gap: 32px;
    z-index: 2;
}

.icon-container1 {
    display: flex;
    flex-direction: column;
}

.icon-container2 {
    display: flex;
    flex-direction: column;
}

.logo, .icon {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 16px;
}

.logo {
    font-size: 32px;
    align-self: baseline;
}

.icon {
    margin-top: -24px;
    font-size: 24px;
    margin-left: 16px;
}

.logo img {
    width: 32px;
    height: 32px;
}

.icon img {
    width: 24px;
    height: 24px;
}


.header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 13fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding-right: 24px;
    box-shadow: 0px 4px 2px rgb(0, 0, 0, 0.3);
    z-index: 1;
    padding: 8px;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-left: 32px;
}

.search img{
    width: 24px;
    height: 24px;
}

.search input {
    width: 60%;
    border-radius: 12px;
    border-width: 0px;
    background-color: #eeeded;
    height: 25%;
}

.notification_icon {
    width: 24px;
    height: 24px;
    align-self: center;
    justify-self: end;  
}

.profile-pic {
    border-radius: 50%;
    background-image: url("https://i.pinimg.com/originals/49/c0/e8/49c0e871fbe0be71396aa94fe1d93ddc.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.header > .profile-pic {
    width: 48px;
    height: 48px;
    align-self: center;
    justify-self: end;
    margin-right: 12px;
}

.user-info {
    display: flex;
    gap: 16px;
}

.user-info > .profile-pic {
    width: 72px;
    height: 72px;
    margin-left: 32px;
    align-self: center;
}

.header p {
    align-self: center;
    font-weight: bolder;
    justify-self: baseline;
}

button {
    height: 40%;
    width: 96px;
    align-self: center;
    justify-self: baseline;
    background-color: #977e7e;
    border-radius: 24px;
    border-width: 0px;
    color: white;
    margin-right: 32px;
    font-weight: bold;
}

.main-content {
    background-color: #eeeded;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 64px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr     ;
    gap: 24px;
}

.projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 4fr 4fr 4fr;
    grid-gap: 0px 12px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.project {
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 10fr;
}

.project:nth-child(3), .project:nth-child(4), .project:nth-child(5), .project:nth-child(6) {
    margin-bottom: 16px;
}

.line {
    background-color: #FFD4D4;
    width: 100%;
    height: 100%;
    grid-row: 1 / 3;
}


.announcements-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-row: 1 / 2;
}

.announcements {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: 96px 3px 96px 3px 96px;
}

.announcements p {
    overflow: auto;
    margin: 24px;
}

.seperator {
    background-color: #b8b8b8;
    height: 100%;
    margin-left: 24px;
    margin-right: 24px;
}

.trending-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-row: 2 / 3;
    grid-template-rows: 1fr 5fr;
}

.trending {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.3);
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.trend {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.trend>.profile-pic {
    width: 54px;
    height: 54px;
    justify-self: center;
}

.trend:nth-child(2) > .profile-pic {
    background-image: url("https://i.pinimg.com/736x/4f/7e/f5/4f7ef5f81ca49f259e9cbfd3852907ef.jpg");
}

.trend:nth-child(3)>.profile-pic {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/531/1007/739/dogs-funny-puppies-shiba-inu-1067x853-animals-dogs-hd-art-wallpaper-preview.jpg");
}

.trend:nth-child(4)>.profile-pic {
    background-image: url("https://preview.redd.it/dmpz8m79juy61.jpg?auto=webp&s=dfe23515a2344903a0aaa0ddb53cea3ec666cb84");
}

.tag {
    font-weight: bolder;
}

.occupation {
    color: #6b6b6b;
}



